<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
    <header>
        <a href="/dashboard">Dashboard</a>
        <a href="/advice">Advice</a>
        <a href="/information">Information</a>
    </header>
    <main>
        
    <h1>Working!</h1>
        <!-- data-aos="fade-up" data-aos-duration="3000" -->
        <section class="fade-in">
            inro
        </section>
        <div id="section1" class="mainSections" >
            <h2>
            </h2>
            <p>
            </p>
            <p>
            </p>
        </div>
        <div id="section2" class="mainSections">
            <h2>
            </h2>
            <p>
            </p>
            <p>
                
            </p>
        </div>       
        <div id="section3" class="mainSections"> 
            <h2>
            </h2>
            <p>
            </p>
            <p>
                
            </p>
        </div>
        <div id="section4" class="mainSections">


            <%newsResule.forEach( val =>{%>

                <div class="news">
                   <a href="<%= val.url%>"> <h3><%= val.title%></h3></a>
                   <p><%= val.author%></p>
                   <img src="<%= val.urlToImage%>" alt=""> 
                   <p><%= val.description%></p> 
                </div>
           <% })%>
           
        </div>       
    </main>
    <footer></footer>
</body>
</html>