<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
  <%- include('../partials/header')%>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <div class="container">
    <section class="adviceSections videos">
      <iframe id="firstVedio" src="https://www.youtube.com/embed/1APwq1df6Mw" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe id="secVedio" src="https://www.youtube.com/embed/9Ay4u7OYOhA" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <section class="adviceSections photos">

      <img data-aos="fade-right" data-aos-duration="1500" class="imgs-green" src="../../styles/images/handshaking.png"
        alt="advice">

      <img data-aos="flip-up" data-aos-duration="1500" class="imgs-green" src="../../styles/images/safe-greetings.png"
        alt="advice">

      <img data-aos="fade-left" data-aos-duration="1500" class="imgs-green" src="../../styles/images/wearing-gloves.png"
        alt="advice">
      <img data-aos="fade-right" data-aos-duration="1500" class="imgs-green"
        src="../../styles/images/eng-mythbusting-ncov-(13).png" alt="advice">

      <img data-aos="flip-up" data-aos-duration="1500" class="imgs-green"
        src="../../styles/images/eng-mythbusting-ncov-(19).png" alt="advice">

      <img data-aos="fade-left" data-aos-duration="1500" class="imgs-green"
        src="../../styles/images/eng-mythbusting-ncov-(23).png" alt="advice">



      <img data-aos="fade-right" data-aos-duration="1500" class="imgs-blue" src="../../styles/images/blue-1.png"
        alt="advice">

      <img data-aos="flip-up" data-aos-duration="1500" class="imgs-blue" src="../../styles/images/blue-2.png"
        alt="advice">

      <img data-aos="fade-left" data-aos-duration="1500" class="imgs-blue" src="../../styles/images/blue-3.png"
        alt="advice">

    </section>

    <section class="adviceSections comments">


      <%allData.forEach(val=>{%>
      <div class="addedComment">
        <div class="profileContainer theCommentDivs">
          <img style="width: 5em;" class="profileImage"
            src="https://www.voanews.com/themes/custom/voa/images/Author__Placeholder.png" alt="profilePlacholder">
          <p class="name"> <%=val.name%></p>
          <p class="country"> <%=val.country%></p>
        </div>
        <p class="comment theCommentDivs"> <%=val.comment%></p>
        <div class="buttonContainer theCommentDivs">
          <a class="edit" href="/update/<%=val.id%>"><button class="editBtn" style='font-size:24px'><i
                class='fas fa-edit'></i></button></a>
          <form action="/delete/<%=val.id%>?_method=delete" method="post">
            <button type="submit" class="deleteBtn edit" style='font-size:24px'><i
                class='fas fa-trash-alt'></i></button>
          </form>
        </div>
      </div>
      <%})%>
    </section>
    <a href="/form"><button class="addBtn">Add Comment</button></a>
  </div>
  <div class="mobile">
    Copyright © 2020 Nextend. All rights reserved.
</div>
  <%- include('../partials/footer')%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../script/header.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>