<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
  <%- include('../partials/header')%>
  <div>
    <%allData.forEach(val=>{%>
    <p> <%=val.name%></p>
    <p> <%=val.country%></p>
    <p> <%=val.comment%></p>
    <a href="/update/<%=val.id%>"><button>Edit comment</button></a>
    <form action="/delete/<%=val.id%>?_method=delete" method="post">
      <button type="submit">Delete Comment</button>
    </form>
  <%})%>
  </div>
    
<a href="/form"><button>Add Comment</button></a>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
  $('#toggle').click(function () {
      $(this).toggleClass('active');
      $('#overlay').toggleClass('open');
  });
  $(window).scroll(function () {
      var scroll = $(window).scrollTop();
      if (scroll > 300) {
          $(".default-color").css("background-color", "#20202083");
      }

      else if (scroll === 0) {
          $(".default-color").css("background-color", "#202020");
      }
  })
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
      } else {
          document.getElementById("navbar").style.top = "-110px";
      }
      prevScrollpos = currentScrollPos;
  }
</script>
</body>
</html>