<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Dashboard</title>
    <style>
        /* #canvas {
            width: 10000px;
            height: 800px;
        } */
    </style>
</head>

<body>
    <section>
        <div id="globalSummary">
            <h2>Newly Confirmed Cases: <%= summary.NewConfirmed%></h2>
            <h2>Total Confirmed Cases: <%= summary.TotalConfirmed%></h2>
            <h2>Newly Confirmed Deaths: <%= summary.NewDeaths%></h2>
            <h2>Total Confirmed Deaths: <%= summary.TotalDeaths%></h2>
            <h2>Newly Recovered Cases: <%= summary.NewRecovered%></h2>
            <h2>Total Recovered Cases: <%= summary.TotalRecovered%></h2>
        </div>
    </section>
    <section>
        <form action="/getCountry" method="post">
            <select name="country">
                <option value="default">Select Country</option>
                <%countries.forEach(val => {%>
                <option value="<%= val.Country%>"><%= val.Country%></option>
                <%})%>
            </select>
            <input type="submit" value="Show Results">
        </form>
    </section>
    <section id="canvas">
        <canvas id="myChart"></canvas>
    </section>
    <section id="canvas2">
        <canvas id="myChart2"></canvas>
    </section>
    <section id="tableSection">
        <table>
            
            <tr>
              <th>Total Confirmed</th>
              <th>Total Deaths</th>
              <th>Total Recovered</th>
              <th>Date</th>
            </tr>
            <%countryArr.forEach(val => {%>
            <tr>
            <td><%= val.Confirmed%></td>
            <td><%= val.Deaths%></td>
            <td><%= val.Recovered%></td>
            <td><%= val.Date %></td>
            <tr>
            <%})%>
          </table>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type='text/javascript'>
        var allCountries =<%-JSON.stringify(countries) %>
        var selectedCo =<%-JSON.stringify(countryArr) %>

    </script>
    <script src="../script/test.js"></script>
</body>

</html>